/* TODO

need font family

/* text settings */

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 33px;
    font-weight: bold;
}

h2 {
    font-family: 'Quicksand'; 
}

p,a,ul,li {
    font-family: 'Microsoft JhengHei UI';
}

/* ul to the left */

header {
    padding: 1em;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.33rem black);
    margin-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
}

header h1 {
    align-items: center;
}

section {
    padding: 0.2em;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 2px black);
    margin-bottom: 1.2em;
    text-align: center;
}

section img {
    border-radius: 10px;
    margin-top: 1rem;
    filter: drop-shadow(0 0 0.2rem black);
}

section h2 {
    text-align: center;
}

/* classes */

.binnenloop {
    display: flex;
}

.overlay {
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    bottom: 16vh;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 53px;
}

ul {
    text-align: left;
}

.vjfb-wat p {
    padding: 0em 1em 0em 1em;
}

.vjfb-waarom {
    display: inline-block;
}

main section:nth-of-type(1) {
    background-color:#7BDDAE;
}

main section:nth-of-type(2) {
    background-color: #FFC075;
}

main section:nth-of-type(3) {
    background-color: lightgreen;
}

main section:nth-of-type(4) {
    background-color: lightblue;
}

@media only screen and (max-width: 667px) {
    body {
        padding: 0.1em;
        /*TEMPORARY NAV BAR*/
        .navbar {
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            position: sticky;
            bottom: 0;
            border-radius: 10px;
            filter: drop-shadow(0 0 0.33rem black);
            padding-bottom: 1em;
        }

        .nav-icon {
            padding: 0.5em;
            background: white;
            border-radius: 10px;
        }

        .nav-icon-active {
            padding: 0.5em;
            background: white;
            border-radius: 10px;
            filter: drop-shadow(0 0 1em #2BB673);
        }

        .navbar img {
            border-radius: 10px;
            filter: drop-shadow(0 0.1rem 0.1rem black);
            width: 60%;
            height: 60%;
        }
    }
}
