/* TODO

need font family

/* text settings */

h1 {
    text-transform: uppercase;
}

header {
    padding: 1em;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.33rem black);
    margin-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
}

header h1 {
    align-items: center;
}

section {
    padding: 0.3em;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 2px black);
    margin-bottom: 1.2em;
    text-align: center;
}

section img {
    border-radius: 10px;
    margin-top: 1rem;
}

section h2 {
    text-align: center;
}

/* classes */

.vjfb-wat p {
    padding: 0em 1em 0em 1em;
}

.vjfb-waarom {
    display: inline-block;
}

@media only screen and (max-width: 667px) {
    body {
        padding: 0.1em;
        /*TEMPORARY NAV BAR*/
        .navbar {
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            position: sticky;
            bottom: 0;
            border-radius: 10px;
            filter: drop-shadow(0 0 0.33rem black);
            padding-bottom: 1em;
        }

        .nav-icon {
            padding: 0.5em;
            background: white;
            border-radius: 10px;
        }

        .nav-icon-active {
            padding: 0.5em;
            background: white;
            border-radius: 10px;
            filter: drop-shadow(0 0 1em #2BB673);
        }

        .navbar img {
            border-radius: 10px;
            filter: drop-shadow(0 0.1rem 0.1rem black);
            width: 60%;
            height: 60%;
        }
    }
}
